/*Couleur à changer*/


.Menu_Vectical {
    width: 20vw; /*Largueur de menus*/
}

.Menu_Vectical a {
    background-color: rgba(255, 255, 255, 0.5);
    color: black; /*Couleur du texte*/
    display: block;
    padding: 0.75vw;
}

.Menu_Vectical a:hover {
    background-color: rgba(150, 150, 255, 0.5);
}

.Menu_Vectical a.Accueil {
    background-color: rgb(92, 250, 92);
    color: black;
}

/*Footer*/
